li {
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

header {
  background-color: #ea7367;
  position: sticky;
  top: 0;
  height: 100px;

}



h1 {
  margin: 0;
  font-size: 30px;
  font-family: 'Pacifico', cursive;
  padding: 20px;

}

#menu {
  display: none;
}

nav label {
  display: block;
  height: 50px;
  width: 50px;
  background-color: #7ee07d;
  border-radius: 50px;
  position: absolute;
  top: 75px;
  right: 20px;
  font-size: 30px;

}

nav label i {
  position: relative;
  left: 11px;
  top: 5px;
}

.menuphone {

  width: 250px;
  height: 0;
  overflow: hidden;}

#menu:checked ~ .menuphone {


  height: 400px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  background-color: white;
  align-items: center;
  font-family: 'Pacifico', cursive;
  font-size: 25px;
  border: 3px solid #ea7367;
  position: absolute;
  right: 0;

top : 150px;
  transition: 1s;
}

.menuphone a:hover {
  color: #7ee07d;
}

.fixe {
  display: none;
}

h2 {
  font-family: 'Pacifico', cursive;
  text-align: center;
  padding-top: 20px;

}

.accueil {
  background-color: #F5F5F6;


  /*border-right: 400px solid transparent;
  border-bottom: 57px solid #ffa495;*/

}


.équipe {
  background-color: #ffa495;

  /*border-bottom: 55px solid #ffa495;
  border-left: 370px solid transparent;*/

}

/*.produit {
  border-top: 57px solid #ffa495;
  border-right: 400px solid transparent

}*/

@media (min-width : 600px) {

  .fixe {
    display: block;
    position: sticky;
    top : 0;
  }

  .fixe ul {
    display: flex;
    flex-flow: row nowrap;

  }

  header {
    position: relative;
  }

  .menuphone, nav label{
    display: none;
  }

}















































































































































































































/*################################## nor ####################################*/
header {
  z-index: 20;
}

/*<======================== .produit ================================>*/
.produit {
   background-color: #F5F5F6;
   display: flex;
   flex-flow: column nowrap;
   justify-content: space-around;
   align-items: center;
   width: 100%;
   height: auto;
}
/*<+++++++++++++++++++++ .produit figure +++++++++++++++++++++++++++>*/
.produit figure {
 width: 98%;
 height: 500px;
}

/*<........................... .produit figure img .....................>*/
.produit figure img {
  width: 80%;
  height: auto;
  position: relative;
  top: 30px;
}

/*<...................... .produit .package ..................>*/
.produit .package {
  background-color: #ffa495;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  height: 377px;
}
/*<--------------- .produit .package figcaption ,span ------------>*/
.produit .package figcaption ,span{
  text-align: center;
}
/*<........................ .produit .package h3 ..................>*/
.produit .package h3 {
   position: relative;
   top: 10px;
}

/*<......................... .produit .package figca span ....................>*/

.produit .package figcaption span {
   font-weight: bold;
   color: #b3443c;
   /*margin-top: 20px;*/
   /*padding-top: 20px;*/
   font-size: 30px;
}
/*<----------------  .produit .package a ------------------------>*/

.produit .package a {
  background-color: #7ee07d;
  padding: 10px;
  border-radius: 10px;
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7),
            -1px 2px 20px rgba(255, 255, 255, 0.6) inset;

}


/*<============================ main class contact ==========================>*/

.contact {
   width: 100%;
   height: auto;
   background-color: #b1ffad;
   display: flex;
   flex-flow: column nowrap;
   justify-content: space-around;
   align-items: center;
}
/*<+++++++++++++++++++++++ section main class cotact +++++++++++++++++++++++++++>*/

.contact section {
   width: 90%;
   height: auto;
   background-color: #b1ffad;
}

/*<....................... form main class contact ......................>*/

.cntact form {
   width: 90%;
   height: auto;
   background-color: #b1ffad;
}
