li {
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

header {
  background-color: #ea7367;
  position: sticky;
  top: 0;
  height: 100px;

}



h1 {
  margin: 0;
  font-size: 30px;
  font-family: 'Pacifico', cursive;
  padding: 20px;

}

#menu {
  display: none;
}

nav label {
  display: block;
  height: 50px;
  width: 50px;
  background-color: #7ee07d;
  border-radius: 50px;
  position: absolute;
  top: 75px;
  right: 20px;
  font-size: 30px;

}

nav label i {
  position: relative;
  left: 11px;
  top: 5px;
}

.menuphone {

  width: 250px;
  height: 0;
  overflow: hidden;}

#menu:checked ~ .menuphone {


  height: 400px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  background-color: white;
  align-items: center;
  font-family: 'Pacifico', cursive;
  font-size: 25px;
  border: 3px solid #ea7367;
  position: absolute;
  right: 0;

top : 150px;
  transition: 1s;
}

.menuphone a:hover {
  color: #7ee07d;
}
/*******************************************fin du header***************************************/
/*******************************************Début du main.accueil********************************/

.fixe {
  display: none;
}

h2 {
  font-family: 'Pacifico', cursive;
  text-align: center;
  padding-top: 20px;
  width: 100%;

}

.accueil {
  background-color: #F5F5F6;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  text-align: center;



  /*border-right: 400px solid transparent;
  border-bottom: 57px solid #ffa495;*/

}

.accueil section {
  width: 360px;
  height: 360px;
  margin-bottom: 30px;

}

.accueil ul, .accueil section,h3 {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
}



.accueil ul {
  height: 200px;
}

h3, .accueil ul {
  font-size: 25px;
  display: none;
  font-family: 'Patrick Hand', cursive;
}

h3 {

  height: 160px;
}

.immo  {

  background-image: url(../img/references/immo.png);
}

.boulanger {
  background-image: url(../img/references/patisserie.png);
}

.architecte {
  background-image: url(../img/references/architecte.png);
}

.paysagiste {
  background-image: url(../img/references/paysagiste.png);
}

.bijouterie {
  background-image: url(../img/references/bijouterie.png);
}

.traiteur {
  background-image: url(../img/references/traiteur.png);
}

.accueil section:hover h3, .accueil section:hover ul {
  background-color: rgba(255, 164, 149, 0.8);
  display :flex;


}

/*************************************main class équipe**************************/


.équipe {
  background-color: #ffa495;

  /*border-bottom: 55px solid #ffa495;
  border-left: 370px solid transparent;*/

}

/*.produit {
  border-top: 57px solid #ffa495;
  border-right: 400px solid transparent

}*/

@media (min-width : 600px) {

  .fixe {
    display: block;
    position: sticky;
    top : 0;
  }

  .fixe ul {
    display: flex;
    flex-flow: row nowrap;

  }

  header {
    position: relative;
  }

  .menuphone, nav label{
    display: none;
  }

}
