li {
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

header {
  background-color: #ea7367;
  position: sticky;
  top: 0;
  height: 100px;

}



h1 {
  margin: 0;
  font-size: 30px;
  font-family: 'Pacifico', cursive;
  padding: 20px;

}
h1 span {
  display: none;
}

#menu {
  display: none;
}

nav label {
  display: block;
  height: 50px;
  width: 50px;
  background-color: #7ee07d;
  border-radius: 50px;
  position: absolute;
  top: 75px;
  right: 20px;
  font-size: 30px;

}

nav label i {
  position: relative;
  left: 11px;
  top: 5px;
}

.menuphone {

  width: 250px;
  height: 0;
  overflow: hidden;}

#menu:checked ~ .menuphone {


  height: 400px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  background-color: white;
  align-items: center;
  font-family: 'Pacifico', cursive;
  font-size: 25px;
  border: 3px solid #ea7367;
  position: absolute;
  right: 0;

top : 150px;
  transition: 1s;
}

.menuphone a:hover {
  color: #7ee07d;
}
/*******************************************fin du header***************************************/
/*******************************************Début du main.accueil********************************/

.fixe {
  display: none;
}

h2 {
  font-family: 'Pacifico', cursive;
  text-align: center;
  padding-top: 20px;
  margin-bottom: 20px;
  width: 100%;

}

.accueil {
  background-color: #F5F5F6;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  text-align: center;



  /*border-right: 400px solid transparent;
  border-bottom: 57px solid #ffa495;*/

}

.accueil section {
  width: 360px;
  height: 360px;
  margin-bottom: 30px;

}

.accueil ul, .accueil section,h3 {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
}



.accueil ul {
  height: 70%;
}

.accueil h3, .accueil ul {
  font-size: 25px;
  display: none;
  font-family: 'Patrick Hand', cursive;
}

.accueil h3 {

  height: 30%;
}

.immo, .boulanger, .architecte, .paysagiste, .bijouterie, .traiteur {
  background-size: cover;
}

.immo  {

  background-image: url(../img/references/immo.png);
}

.boulanger {
  background-image: url(../img/references/patisserie.png);
}

.architecte {
  background-image: url(../img/references/architecte.png);
}

.paysagiste {
  background-image: url(../img/references/paysagiste.png);
}

.bijouterie {
  background-image: url(../img/references/bijouterie.png);
}

.traiteur {
  background-image: url(../img/references/traiteur.png);
}

.accueil section:hover h3, .accueil section:hover ul {
  background-color: rgba(255, 164, 149, 0.8);
  display :flex;


}

/*************************************main class équipe**************************/


.équipe {
  background-color: #ffa495;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

  /*border-bottom: 55px solid #ffa495;
  border-left: 370px solid transparent;*/

}

.clement:hover h3, .nor:hover h3 {
  visibility: visible;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  border-top-left-radius: 125px;
  border-top-right-radius: 125px;
  background-color: rgba(177, 255, 173, 0.8);

  /*width: 100%
  margin: auto;*/
}

.clement:hover p, .nor:hover p {
  visibility: visible;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 125px;
  border-bottom-right-radius: 125px;
  background-color: rgba(177, 255, 173, 0.8);
  /*width: 100%
  margin: auto;*/
}
hr, .équipe h3, .équipe p {
  visibility: hidden;
}

.clement:hover hr, .nor:hover hr {
  visibility: visible;
  border: 1px solid black;
  width: 248px;


}

.clement, .nor {

  width: 250px;
  height: 250px;
  border-radius: 125px;
  /*background-color: green;*/
  margin: 50px 0;
  /*background-image: url();*/
  display: flex;
  flex-flow: column;
  justify-content: center;


}

.clement {
  background-image: url(../img/photos/clement2.jpg);
  background-size: cover;
}

.nor {
  background-image: url(../img/photos/nor.jpg);
  background-size: cover;
}

/*.produit {
  border-top: 57px solid #ffa495;
  border-right: 400px solid transparent

}*/
/*****************************************************************tablette*************************************/
@media (min-width : 600px) {

  h1 {
    text-align: center;


  }

  h1 span {
    display: block;
  }

  header {
    height: auto;
  }




  .fixe {
    display: block;
    position: sticky;
    top : 0;
    background-color: #EA7367;
    height: 50px;
    z-index: 20;

  }

  .fixe ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    font-family: 'Pacifico', cursive;
    font-size: 20px;

  }

  .fixe ul a:hover {
    color: #7EE07D;
  }

  header {
    position: relative;
  }

  .menuphone, nav label{
    display: none;
  }

  .accueil, .produit {
    background-image: url(../img/background/bois.jpg);
    background-size: cover;
    background-attachment: fixed;
  }

  .accueil section {
    width: 300px;
    height: 300px;
  }

  #products figure {
    width: 300px;
  }



}

@media (min-width : 1000px) {

  header {
    height: 600px;
    display: flex;

  }

  h1 {
    font-size: 85px;
    margin: auto;
  }

  .accueil section {
    width: 350px;
    height: 350px;
  }

  #products figure {

    margin-bottom: 100px;}


#contactus {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  height: 900px;
  position: relative;

}

#carte {
  width: 40%;
  height: 612px;
}

#contactus h2 {
  position: absolute;
  top : 20px;
}
}















































































































































































































/*################################## nor ####################################*/
header {
  z-index: 20;
}

/*<======================== .produit ================================>*/
.produit {
   background-color: #F5F5F6;
   display: flex;
   flex-flow: row wrap;
   justify-content: space-around;
   align-items: center;
   width: 100%;
   height: auto;
}
/*<+++++++++++++++++++++ .produit figure +++++++++++++++++++++++++++>*/
.produit figure {
 width: 320px;
 height: 500px;
}

/*<........................... .produit figure img .....................>*/
.produit figure img {
  width: 80%;
  height: auto;
  position: relative;
  top: 30px;
}

/*<...................... .produit .package ..................>*/
.produit .package {
  background-color: #ffa495;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  height: 377px;
  border-radius: 10px;
}
/*<--------------- .produit .package figcaption ,span ------------>*/
.produit .package figcaption ,span{
  text-align: center;
}
/*<........................ .produit .package h3 ..................>*/
.produit .package h3 {
   position: relative;
   top: 20px;
}

.produit .package figcaption {
  padding: 10px;
}

/*<......................... .produit .package figca span ....................>*/

.produit .package figcaption span {
   font-weight: bold;
   color: #b3443c;
   margin-top: 20px;
   /*padding-top: 20px;*/
   font-size: 30px;
   position: relative;
   top: 20px;
}
/*<----------------  .produit .package a ------------------------>*/

.produit .package a {
  background-color: #7ee07d;
  padding: 10px;
  border-radius: 10px;
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7),
            -1px 2px 20px rgba(255, 255, 255, 0.6) inset;

}

h3, figcaption, .contact form {
   font-family: 'Patrick Hand',cursive;
}


/*<============================ main class contact ==========================>*/

.contact {
   width: 100%;
   height: auto;
   background-color: #b1ffad;
   display: flex;
   flex-flow: column nowrap;
   justify-content: center;
   align-items: center;
}

.contact h2 {
  margin: 25px;
}
/*<+++++++++++++++++++++++ section main class cotact +++++++++++++++++++++++++++>*/

.contact section {
   width: 300px;
   height: auto;
   background-color: #FFA495;
   text-align: center;
   border-radius: 15px;
   margin-bottom: 20px;
}


.contact section p {
   margin: 10px;
}

.contact section i {
  margin-right: 5px;
  color: white;
}

/*<....................... form main class contact ......................>*/

.contact form {
   width: 300px;
   height: auto;
   background-color: #b1ffad;
   display: flex;
   flex-flow: column nowrap;
   justify-content: center;
}


.contact input ,.contact label {
   width: 100%;

}

.contact input {
  margin-bottom: 10px;
}


.contact .projet {
  height: 90px;
}

.contact .envoi {
   width: 50%;
   margin: 10px auto 30px auto;
   /*box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7),*/
             /*-1px 2px 20px rgba(255, 255, 255, 0.6) inset;*/
   background-color: #EA7367;
   border-radius: 5px;
   padding: 5px;
   font-family: 'Pacifico', cursive;
   font-size: 20px;

}



.contact iframe {
   width: 90%;

}




/*<============================= footer =============================>*/

footer {
   width: 100%;
   height: 50px;
   background-color: #b3444c;
   position: sticky;
   bottom: 0;

}

footer ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}

footer li {
   background-color: #7EE07D;
   width: 30px;
   height: 30px;
   border-radius: 50%;
   font-size: 20px;

}


footer li i {
   position: relative;
   top: 3px;
   left: 7px;

}
